.list-group-item{
    text-align: left;
    border: none;
    margin:0;
    border-bottom:1px solid #EAEAEA;
    padding:0.3rem;
}

.imgcollect{
    float: right;
    width:0.4rem;
    height:0.4rem;
    background: url("../images/collect.png") no-repeat;
    background-size: 100% 100%;
}
.imgcollect2{
    background: url("../images/collect-active.png") no-repeat;
    background-size: 100% 100%;
}
.groupcontent{
    width:100%;
    background: #fff;
    margin-top:1rem;
}
.list-group{
    width:96%;
    margin:0 auto;
}
.search{
    position:fixed;
    top:0;
    width:100%;
    line-height:1rem;
    z-index: 10;
    background: #fff;
    /*padding:0.2rem;*/
}
.search input{
    width:96%;
    margin-left: 2%;
    line-height:0.68rem;
    border:1px solid #EAEAEA;
    padding-left:0.3rem;
}